<html>
<head>
<meta charset="utf-8">
<title>配置管理</title>
<script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/static/js/layer.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
<script type="text/javascript">
$(document).ready(function(){
        $(".right").css("width",($(document).width()-200)+"px");
        $(".right").css("height",($(document).height()-60)+"px");
        $(".nav_title").click(function(){ 
            $(this).next("div").slideToggle("slow")  
            .siblings(".nav_list:visible").slideUp("slow");
        });
        $(".left li").click(function(){ 
            $("iframe").attr("src",$(this).attr("url"));
        });
    });

</script>
</head>
<body>
<div class="top">
    <div class="user">
    盒子设备秒变测试仪
        <img src="/static/img/user.png">
        <span>欢迎您，管理员 </span>
        <span onclick="loginout();" style="cursor: pointer;">|退出</span>
        <span onclick="changepwd();" style="cursor: pointer;">|修改密码</span>
        <!-- <button type="button" class="btn btn-sm btn-default"  onclick="loginout();">退出</button> -->
    </div>
</div>
<div style="clear: both;"></div>
<div class="tools">
    <div class="toolTitle">工具栏</div>
    <div class="tool" title="配置报文"><a href=" Test://"><img src="/static/img/start.png"></a></div>
    <!-- <div class="tool" title="启动接口"><img onclick="startInterface();" src="/static/img/start.png"></div> -->
    <!-- <div class="tool" title="停止接口"><img onclick="stopInterface();" src="/static/img/stop.png"></div> -->
    <!-- <div class="tool" title="新建报文组"><img onclick="addMessage();" src="/static/img/add.png"></div> -->
    <!-- <div class="tool" title="导入配置"><img onclick="importFile();" src="/static/img/import.png"></div> -->
    <div class="tool"></div>
</div>
<div class="center">
    <div class="left"> 
      <div class="nav"> 
        <div class="nav_title">
          <div class="nav_img jbsz"></div>接口
        </div>  
        <div class="nav_list"> 
          <ul> 
           {% for interface in interfaces %}
            <!-- <li url="/app/interfaceEdit?name={{interface.name}}">{{interface.name}}</li>   -->
            <li url="/app/rate?name={{interface.name}}">{{interface.name}}</li>  
            {% endfor %}   
          </ul> 
        </div>
        <!-- <div class="nav_title">
          <div class="nav_img jbsz"></div>报文
        </div>  
        <div class="nav_list"> 
          <ul> 
            {% for packetGroup in packetGroups %}
            <li url="/app/messageList?name={{packetGroup}}">{{packetGroup}}</li>  
            {% endfor %}  
          </ul> 
        </div> -->  
      </div> 
    </div>
    <div class="right">
        <iframe id="iframeParent" src=""></iframe>
    </div>
</div>
<div class="buttom">
制作团队：青城派S plus  &nbsp;&nbsp;&nbsp;团队成员：谢正明、董映、吴焕正、袁庭飞
</div>
<script type="text/javascript">
    //退出
function loginout() {
    window.location.href = "/app/exit";
}
function startInterface(){
    var d = dialog({
        title: '欢迎',
        content: '欢迎使用 artDialog 对话框组件！'
    });
    d.show();
    alert("开启接口");
}
function stopInterface(){
    alert("关闭接口");
}
function addMessage(){
    layer.open({
      type: 2,
      title: '新建报文组',
      shadeClose: false,//如果你的shade是存在的，那么你可以设定shadeClose来控制点击弹层外区域关闭。
      shade: 0.8,
      area: ['400px', '190px'],
      offset: ['200px'],
      content: '/app/createMessageGroup' //iframe的url
    }); 
}
function importFile(){
    layer.open({
      type: 2,
      title: '导入配置',
      shadeClose: false,//如果你的shade是存在的，那么你可以设定shadeClose来控制点击弹层外区域关闭。
      shade: 0.8,
      area: ['400px', '130px'],
      offset: ['200px'],
      content: '/app/importFile' //iframe的url
    }); 
}
function changepwd(){
    layer.open({
        type: 2,
        title: '修改密码',
        shadeClose: false,//如果你的shade是存在的，那么你可以设定shadeClose来控制点击弹层外区域关闭。
        shade: 0.8,
        area: ['400px', '190px'],
        offset: ['200px'],
        content: '/app/createMessageGroup' //iframe的url
      }); 
}
</script>
</body>
</html>
