<!DOCTYPE html>
<html>
    <head>
        <title>Laravel</title>
        <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="/static/js/echarts.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <style type="text/css">
            .row{
                margin-left: 0px;
            }
            .tools{
                top: 30px;
                width: 100%;
                height: 30px;
                background-color: #FBD1D1;
            }
            .tool{
                margin: 0;
                padding: 0;
                margin-right: 10px;
                float: left;
                width: 30px;
                height: 30px;
            }
            .tool>img{
                margin-top: 9px;
                margin-left: 8px;
                width: 12px;
                height: 12px;
                cursor: pointer;
            }
            .toollast{
                margin: 0;
                padding: 0;
                margin-right: 150px;
                float: right;
                width: 30px;
                height: 30px;
            }
            .toolTitle{
                margin: 0;
                padding: 0;
                margin-left: 10px;
                float: left;
                width: 90px;
                height: 30px;
                font-size: 14px;
                line-height: 30px;
            }
        </style>
    </head>
    <body style="width: 100%;padding: 0;margin:0 ">
        <div class="container-fuild">
            <div class="row">
                <div class="tools">
                    <div class="toolTitle">接口名:{{interface}}</div>
                    <div class="tool" title="停止发送数据"><img onclick="configInterfaceOption('{{interface}}');" src="/static/img/stoprx.png"></div>
                    <!-- <div class="tool" title="配置应用层URL"><img onclick="configApplication('{{interface}}');" src="/static/img/config.png"></div> -->
                    <div class="tool" title="历史发包"><img onclick="history('{{interface}}');" src="/static/img/config.png"></div>
                    <!-- <div class="tool" id='startPacket' title="开始抓包"><img onclick="startPacket('{{interface}}');" src="/static/img/start.png"></div> -->
                    <!-- <div class="tool" id='stopPacket' title="开始抓包"><img onclick="stopPacket('{{interface}}');" src="/static/img/start.png"></div> -->
                    <!-- <div class="tool" title="导入配置"><img onclick="importFile();" src="/static/img/import.png"></div> -->
                    <div class="toollast"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                        <div id = "gauge" style="height:300px;">
                            你的浏览器不支持html5
                        </div>
                </div>

                <div class="col-md-6">
                <div id = "line" style="height:300px;">
                        你的浏览器不支持html5
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive">
                  <table class="table">
                    <caption></caption>
                    <thead>
                      <tr>
                        <th style='text-align: center;'>时间</th>
                        <th style='text-align: center;'>发送速率Mbps</th>
                        <th style='text-align: center;'>发送百分比</th>
                        <th style='text-align: center;'>接收速率Mbps</th>
                        <th style='text-align: center;'>接收接收百分比</th></tr>
                    </thead>
                    <tbody id = "data">
                      
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
        
        
        <div class="list">
            <div></div>
        </div>
        <script type="text/javascript">
        var txName = "";
        var rxName = "";
        var gaugeOption =  {
            tooltip : {
                formatter: "发送实时占比{c}%"
            },
            series : [
                {
                    name:'发送实时速率',
                    type:'gauge',
                    center : ['75%', '55%'],
                    splitNumber: 10,       // 分割段数，默认为5
                    axisLine: {            // 坐标轴线
                        lineStyle: {       // 属性lineStyle控制线条样式
                            color: [[0.2, '#228b22'],[0.8, '#48b'],[1, '#ff4500']], 
                            width: 8
                        }
                    },
                    axisTick: {            // 坐标轴小标记
                        splitNumber: 10,   // 每份split细分多少段
                        length :12,        // 属性length控制线长
                        lineStyle: {       // 属性lineStyle控制线条样式
                            color: 'auto'
                        }
                    },
                    axisLabel: {           // 坐标轴文本标签，详见axis.axisLabel
                        textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                            color: 'auto'
                        }
                    },
                    splitLine: {           // 分隔线
                        show: true,        // 默认显示，属性show控制显示与否
                        length :30,         // 属性length控制线长
                        lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                            color: 'auto'
                        }
                    },
                    pointer : {
                        width : 5
                    },
                    title : {
                        show : true,
                        offsetCenter: [0, '30%'],       // x, y，单位px
                        textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                            fontWeight: 'bolder'
                        }
                    },
                    detail : {
                        formatter:function (value) {
                            return txName+"Mbps";
                        },
                        offsetCenter: [0, '50%'],
                        textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                            color: 'auto',
                            fontWeight: 'bolder',
                            fontSize:"15px"
                        }
                    },
                    data:[{value: 50, name: '发送实时速率'}]
                },
                {
                    name:'接收实时速率',
                    center : ['25%', '55%'],
                    type:'gauge',
                    splitNumber: 10,       // 分割段数，默认为5
                    axisLine: {            // 坐标轴线
                        lineStyle: {       // 属性lineStyle控制线条样式
                            color: [[0.2, '#228b22'],[0.8, '#48b'],[1, '#ff4500']], 
                            width: 8
                        }
                    },
                    axisTick: {            // 坐标轴小标记
                        splitNumber: 10,   // 每份split细分多少段
                        length :12,        // 属性length控制线长
                        lineStyle: {       // 属性lineStyle控制线条样式
                            color: 'auto'
                        }
                    },
                    axisLabel: {           // 坐标轴文本标签，详见axis.axisLabel
                        textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                            color: 'auto'
                        }
                    },
                    splitLine: {           // 分隔线
                        show: true,        // 默认显示，属性show控制显示与否
                        length :30,         // 属性length控制线长
                        lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                            color: 'auto'
                        }
                    },
                    pointer : {
                        width : 5
                    },
                    title : {
                        show : true,
                        offsetCenter: [0, '30%'],       // x, y，单位px
                        textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                            fontWeight: 'bolder'
                        }
                    },
                    detail : {
                        // formatter:'{value}Mbps',
                        formatter:function (value) {
                            return rxName+"Mbps";
                        },
                        offsetCenter: [0, '50%'],
                        textStyle: {       // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                            color: 'auto',
                            fontWeight: 'bolder',
                            fontSize:"15px"
                        }
                    },
                    data:[{value: 50, name: '接收实时速率'}]
                }
            ]
        };
        var myChart = echarts.init(document.getElementById('gauge'));
        myChart.setOption(gaugeOption, true);
        

        var lineOption = {
            
            title: {
                text: '实时速率',
                left:"center",
                textStyle: {
                    fontWeight: 'normal',
                    fontSize: 16,
                    color: '#050505'
                },
                left: '6%'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    lineStyle: {
                        color: '#57617B'
                    }
                }
            },
            legend: {
                data:['发送历史速率','接收历史速率'],
                x: 'right'
            },
            // legend: {
            //     icon: 'rect',
            //     itemWidth: 14,
            //     itemHeight: 5,
            //     itemGap: 13,
            //     right: '4%',
            //     textStyle: {
            //         fontSize: 12,
            //         color: '#F1F1F3'
            //     }
            // },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [{
                type: 'category',
                boundaryGap: false,
                axisLine: {
                    lineStyle: {
                        color: '#57617B'
                    }
                },
                splitNumber:3,
                axisLabel:{
                    // interval:2,//坐标轴刻度标签的显示间隔，在类目轴中有效。默认会采用标签不重叠的策略间隔显示标签。可以设置成 0 强制显示所有标签。如果设置为 1，表示『隔一个标签显示一个标签』，如果值为 2，表示隔两个标签显示一个标签，以此类推
                    // inside:"true",
                    // rotate:"20",
                    textStyle:{
                        color:"#150404"
                    }
                },
                nameLocation:"middle",//start,end
                data: ['13:00', '13:05', '13:10', '13:15', '13:20', '13:25', '13:30', '13:35', '13:40', '13:45', '13:50', '13:55']
            }],
            yAxis: [{
                type: 'value',
                name: '单位Mbps',
                axisTick: {
                    show: false
                },
                axisLine: {
                    lineStyle: {
                        color: '#57617B'
                    }
                },
                axisLabel: {
                    margin: 10,
                    textStyle: {
                        fontSize: 14
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: '#57617B'
                    }
                }
            }],
            series: [{
                name: '发送历史速率',
                type: 'line',
                smooth: true,
                symbol: 'circle',
                symbolSize: 5,
                showSymbol: false,
                lineStyle: {
                    normal: {
                        width: 1
                    }
                },
                areaStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                            offset: 0,
                            color: 'rgba(137, 189, 27, 0.3)'
                        }, {
                            offset: 0.8,
                            color: 'rgba(137, 189, 27, 0)'
                        }], false),
                        shadowColor: 'rgba(0, 0, 0, 0.1)',
                        shadowBlur: 10
                    }
                },
                itemStyle: {
                    normal: {
                        color: 'rgb(137,189,27)',
                        borderColor: 'rgba(137,189,2,0.27)',
                        borderWidth: 12

                    }
                },
                data: [220, 182, 191, 134, 150, 120, 110, 125, 145, 122, 165, 122]
            },
            {
                name: '接收历史速率',
                type: 'line',
                smooth: true,
                symbol: 'circle',
                symbolSize: 5,
                showSymbol: false,
                lineStyle: {
                    normal: {
                        width: 1
                    }
                },
                areaStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                            offset: 0,
                            color: 'rgba(111, 145, 27, 0.3)'
                        }, {
                            offset: 0.8,
                            color: 'rgba(137, 189, 27, 0)'
                        }], false),
                        shadowColor: 'rgba(0, 0, 0, 0.1)',
                        shadowBlur: 10
                    }
                },
                itemStyle: {
                    normal: {
                        color: 'rgb(44,23,27)',
                        borderColor: 'rgba(137,189,2,0.27)',
                        borderWidth: 12

                    }
                },
                data: [220, 182, 191, 134, 150, 120, 110, 125, 145, 122, 165, 122]
            }, ]
        };
        var lineChart = echarts.init(document.getElementById('line'));
        lineChart.setOption(lineOption, true);
        getRate();
        setInterval(function () {
            // console.log(lineOption.xAxis[0]);
            getRate();
            
        },10000);

        function getRate(){
            $.ajax({
                    type:"get",
                    url:"/app/getRate",
                    data:{"interface":'{{interface}}'},//表单数据
                    dataType:"json",//json,xml,html,text
                    success:function(dataArr){
                        console.log(dataArr);
                        txName = dataArr[1][dataArr[1].length-1];
                        rxName = dataArr[2][dataArr[2].length-1];
                        lineOption.xAxis[0].data = dataArr[0];
                        lineOption.series[0].data = dataArr[1];
                        lineOption.series[1].data = dataArr[2];
                        lineChart.setOption(lineOption);
                        gaugeOption.series[0].data[0].value = dataArr[3][dataArr[3].length-1]
                        gaugeOption.series[1].data[0].value = dataArr[4][dataArr[4].length-1]
                        myChart.setOption(gaugeOption, true);
                        reflashTable(dataArr);
                    }
                });
        }


        function reflashTable(dataArr){
            var strHtml ="";
            for (var i = dataArr[0].length-1; i >0 ; i--) {
                 strHtml +="<tr>" 
                 strHtml+="<td style='text-align: center;'>"+dataArr[0][i]+"</td>";
                 strHtml+="<td style='text-align: center;'>"+dataArr[1][i]+"</td>";
                 strHtml+="<td style='text-align: center;'>"+dataArr[3][i]+"%</td>";
                 strHtml+="<td style='text-align: center;'>"+dataArr[2][i]+"</td>";
                 strHtml+="<td style='text-align: center;'>"+dataArr[4][i]+"%</td>";
                 strHtml +="</tr>";
            };
            $("#data").html(strHtml);
        }
        function configInterfaceOption(interface){
            $.ajax({
                    type:"get",
                    url:"/app/stopRun",
                    data: {"interfacename":interface},//表单数据
                    dataType:"json",//json,xml,html,text
                    success:function(d){
                        if(d=="success"){
                            alert('停止发送数据成功');
                            setTimeout(function(){
                                window.location = " CCC://";
                            },3000);
                            
                            // parent.layer.msg('');//保存成功提示
                        }
                    }
                });
        }
        function startPacket(interface){

        }
        function stopPacket(interface){
            
        }
        function history(interface){
          parent.layer.open({
                type: 2,
                title: '历史发包数据',
                shadeClose: false,//如果你的shade是存在的，那么你可以设定shadeClose来控制点击弹层外区域关闭。
                shade: 0.8,
                move: false,
                area: ['800px', '600px'],
                offset: ['200px'],
                content: '/app/showHistory?interface='+interface //iframe的url
          });
        }
        function configApplication(){
            parent.layer.open({
                type: 2,
                title: '配置应用层URL',
                shadeClose: false,//如果你的shade是存在的，那么你可以设定shadeClose来控制点击弹层外区域关闭。
                shade: 0.8,
                move: false,
                area: ['400px', '300px'],
                offset: ['200px'],
                content: '/app/configApplication' //iframe的url
              }); 
        }
        </script>
    </body> 
</html>
