<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/layui.css">
        <script type="text/javascript" src="/static/js/layer.js"></script>
    </head>
    <body style="width: 100%;padding-top: 20px;">
        <div id="data" style="margin-left:0,20px;">
            
        </div>
        <div style="position: absolute;bottom: 20px;right: 20px;">
            <button class="layui-btn" onclick="closeWin();">关闭</button>
        </div>
        <script>
        setInterval(function () {
            // console.log(lineOption.xAxis[0]);
            getConfigApplicationResult();
            
        },1000);
        function getConfigApplicationResult(){
            $.ajax({
                    type:"get",
                    url:"/app/getConfigApplicationResult",
                    data:{},//表单数据
                    dataType:"json",//json,xml,html,text
                    success:function(data){
                        $("#data").html(data);
                    }
                });
        }
        function closeWin(){
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭 
        }
        </script>
    </body> 
</html>
