<!DOCTYPE html>
<html>
    <head>
        <title>rth</title>
        <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/layui.css">
        <script type="text/javascript" src="/static/js/layer.js"></script>
        <style type="text/css">
          .row{
              margin-left: 0px;
          }
          .form{
              margin:20px;
          }
          .layui-elem-field legend {
              font-size: 15px;
              font-weight: bolder;
              margin-left: 20px;
              padding: 0 5px;
          }
          .layui-input, .layui-textarea{
              width: 150px;
          }

          .layui-form-select dl {
            width: 150px;
            top: 25px;
          }
          .layui-form-item .layui-inline {
              margin-bottom: 0;
              margin-right: 10px;
          }
          .layui-form-item {
                clear: both;
                margin-bottom: 5px;
          }
          .layui-form-label{
            padding: 0;
          }
          .layui-input-block {
              margin-left: 110px;
              min-height: 10px;
          }
          .layui-input, .layui-textarea, .layui-select {
              background-color: #fff;
              border: 1px solid #e6e6e6;
              border-radius: 2px;
              height: 25px;
              line-height: 25px;
          }
          /*.layui-form-radio {
              cursor: pointer;
              display: inline-block;
              font-size: 0;
              line-height: 20px;
              margin:0;
              padding-right: 10px;
              vertical-align: middle;
          }*/
          .kuang1{
           position: absolute;
           height: 128px;
           left: 16px;
           width:545px; 
           top: 235px;
           border: 1px solid #e6e6e6; 
          }
          .kuang2{
           position: absolute;
           height: 128px;
           left: 16px;
           width:545px; 
           top: 376px;
           border: 1px solid #e6e6e6; 
          }
          .layui-field-title{
            border-width: 10px medium medium;
          }
        </style>
    </head>
    <body style="width: 100%;padding: 0;margin:0 ">
        <div class="container">
            <div class="row">
                  <form class="layui-form">
                      <input type="hidden" name="packetGroupName" value="{{packetGroupName}}">
                      <input type="hidden" name="packet" value="{{packet}}">
                      <!-- <div class="kuang1"></div> -->
                      <!-- <div class="kuang2"></div> -->
                      <fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
                          <legend>基本信息</legend>
                      </fieldset>
                      <div class="layui-form-item">
                       <div class="layui-inline">
                          <label class="layui-form-label">HW-Type</label>
                          <div class="layui-input-block">
                            <select name="hwtype" style="width: 150px;" id="hwtype" lay-verify="required">
                                  <option value="1" selected>1(Ethernet)</option>
                            </select>
                          </div>
                        </div>
                         <div class="layui-inline">
                           <label class="layui-form-label">Length</label>
                          <div class="layui-input-block">
                            <input type="text" name="hwtypelength" style="width: 150px;" value="{{arp.hwtypelength}}" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                          </div>
                         </div>
                      </div>
                      <div class="layui-form-item">
                       <div class="layui-inline">
                          <label class="layui-form-label">Pro-Type</label>
                          <div class="layui-input-block">
                            <select name="protype" style="width: 150px;" id="hwtype" lay-verify="required">
                                  <option value="0x0800" selected>0x800(IP)</option>
                            </select>
                          </div>
                        </div>
                         <div class="layui-inline">
                           <label class="layui-form-label">Length</label>
                          <div class="layui-input-block">
                            <input type="text" name="protypelength" style="width: 150px;" value="{{arp.protypelength}}" name="title" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                          </div>
                         </div>
                      </div>
                      <div class="layui-form-item">
                        <label class="layui-form-label">Op code</label>
                        <div class="layui-input-block">
                                <select name="opcode" style="width: 150px;" id="svlantype" lay-verify="required">
                                {% for mes in vlantype %}
                                  {% ifequal eth.svlantype mes %}
                                  <option value="{{mes}}" selected>{{mes}}</option>
                                  {% else %}
                                  <option value="{{mes}}">{{mes}}</option>
                                  {% endifequal  %}
                                {% endfor %}
                                </select>
                        </div>
                      </div>
                      <fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
                          <legend>源MAC地址</legend>
                      </fieldset>
                      <div class="layui-form-item">
                       <div class="layui-inline">
                          <label class="layui-form-label">MAC</label>
                          <div class="layui-input-block">
                            <input type="text" style="width: 150px;" value="{{eth.smacnum}}" id="smacnum" name="smacnum" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                          </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">ACTION</label>
                            <div class="layui-input-block">
                              <select name="smacaction" lay-filter="smacaction"  id="smacaction" lay-verify="required">
                                {% for mes in action %}
                                  {% ifequal arp.smacaction mes %}
                                  <option value="{{mes}}" selected>{{mes}}</option>
                                  {% else %}
                                  <option value="{{mes}}">{{mes}}</option>
                                  {% endifequal  %}
                                {% endfor %}
                                </select>
                            </div>
                           </div>
                      </div>
                        <div class="layui-form-item" >
                         <div class="layui-inline">
                            <label class="layui-form-label">Num</label>
                            <div class="layui-input-block">
                              <input type="text" id="smacnum" style="width: 150px;"  name="smacnum" value="{{arp.smacnum}}" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                          </div>
                           <div class="layui-inline">
                             <label class="layui-form-label">Loop</label>
                            <div class="layui-input-block">
                              <input type="text" style="width: 150px;" value="{{arp.smacloop}}" id="smacloop" name="smacloop" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                           </div>
                        </div>
                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
                          <legend>源IP地址</legend>
                      </fieldset>
                      <div class="layui-form-item">
                       <div class="layui-inline">
                          <label class="layui-form-label">IP地址</label>
                          <div class="layui-input-block">
                            <input type="text" style="width: 150px;" value="{{arp.sip}}" id="sip" name="sip" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                          </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">ACTION</label>
                            <div class="layui-input-block">
                              <select name="sipaction" lay-filter="sipaction"  id="sipaction" lay-verify="required">
                                {% for mes in action %}
                                  {% ifequal arp.sipaction mes %}
                                  <option value="{{mes}}" selected>{{mes}}</option>
                                  {% else %}
                                  <option value="{{mes}}">{{mes}}</option>
                                  {% endifequal  %}
                                {% endfor %}
                                </select>
                            </div>
                           </div>
                      </div>
                        <div class="layui-form-item" >
                         <div class="layui-inline">
                            <label class="layui-form-label">Num</label>
                            <div class="layui-input-block">
                              <input type="text" id="sipnum" style="width: 150px;"  name="sipnum" value="{{arp.sipnum}}" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                          </div>
                           <div class="layui-inline">
                             <label class="layui-form-label">Loop</label>
                            <div class="layui-input-block">
                              <input type="text" style="width: 150px;" value="0" id="siploop" name="siploop" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                           </div>
                        </div>
                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
                          <legend>目的MAC地址</legend>
                      </fieldset>
                      <div class="layui-form-item">
                       <div class="layui-inline">
                          <label class="layui-form-label">MAC</label>
                          <div class="layui-input-block">
                            <input type="text" style="width: 150px;" value="{{arp.dmacnum}}" id="dmacnum" name="dmacnum" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                          </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">ACTION</label>
                            <div class="layui-input-block">
                              <select name="dmacaction" lay-filter="dmacaction"  id="dmacaction" lay-verify="required">
                                {% for mes in action %}
                                  {% ifequal arp.dmacaction mes %}
                                  <option value="{{mes}}" selected>{{mes}}</option>
                                  {% else %}
                                  <option value="{{mes}}">{{mes}}</option>
                                  {% endifequal  %}
                                {% endfor %}
                                </select>
                            </div>
                           </div>
                      </div>
                        <div class="layui-form-item" >
                         <div class="layui-inline">
                            <label class="layui-form-label">Num</label>
                            <div class="layui-input-block">
                              <input type="text" id="dmacnum" style="width: 150px;"  name="dmacnum" value="{{arp.dmacnum}}" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                          </div>
                           <div class="layui-inline">
                             <label class="layui-form-label">Loop</label>
                            <div class="layui-input-block">
                              <input type="text" style="width: 150px;" value="0" id="dmacloop" name="dmacloop" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                           </div>
                        </div>
                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
                          <legend>目的IP地址</legend>
                      </fieldset>
                      <div class="layui-form-item">
                       <div class="layui-inline">
                          <label class="layui-form-label">IP地址</label>
                          <div class="layui-input-block">
                            <input type="text" style="width: 150px;" value="{{arp.dipnum}}" id="dipnum" name="dipnum" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                          </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">ACTION</label>
                            <div class="layui-input-block">
                              <select name="dipaction" lay-filter="dipaction"  id="dipaction" lay-verify="required">
                                {% for mes in action %}
                                  {% ifequal arp.dipaction mes %}
                                  <option value="{{mes}}" selected>{{mes}}</option>
                                  {% else %}
                                  <option value="{{mes}}">{{mes}}</option>
                                  {% endifequal  %}
                                {% endfor %}
                                </select>
                            </div>
                           </div>
                      </div>
                        <div class="layui-form-item" >
                         <div class="layui-inline">
                            <label class="layui-form-label">Num</label>
                            <div class="layui-input-block">
                              <input type="text" id="dipnum" style="width: 150px;"  name="dipnum" value="{{arp.dipnum}}" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                          </div>
                           <div class="layui-inline">
                             <label class="layui-form-label">Loop</label>
                            <div class="layui-input-block">
                              <input type="text" style="width: 150px;" value="0" id="diploop" name="diploop" required  lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                           </div>
                        </div>
              </form>
            </div>
        </div>
        <div style="position: absolute;bottom: 20px;right: 20px;">
            <button class="layui-btn layui-btn-warm" onclick="last();">上一步</button>
            <button class="layui-btn layui-btn-warm" onclick="step2();">下一步</button>
            <button class="layui-btn" onclick="save();">保存</button>
        </div>
        <script type="text/javascript" src="/static/js/layui.js"></script>
        <script type="text/javascript">
        layui.use('form', function(){
          var form = layui.form();
          var dmacaction = '{{arp.dmacaction}}';
          if (dmacaction=="Fixed"){
              $("#dmacnum").attr("disabled","false").css("background","#edeff3");
              $("#dmacloop").attr("disabled","false").css("background","#edeff3");
              $("#dmacnum").val("0");
              $("#dmacloop").val("0");
              form.render();
          }
          var smacaction = '{{arp.smacaction}}';
          if (smacaction=="Fixed"){
              $("#smacnum").attr("disabled","false").css("background","#edeff3");
              $("#smacloop").attr("disabled","false").css("background","#edeff3");
              $("#smacnum").val("0");
              $("#smacloop").val("0");
              form.render();
          }

          form.on("select(dmacaction)",function(data){
            if (data.value=="Fixed") {
              $("#dmacnum").attr("disabled","false").css("background","#edeff3");
              $("#dmacloop").attr("disabled","false").css("background","#edeff3");
              $("#dmacnum").val("0");
              $("#dmacloop").val("0");
              form.render();
            }else{
              $("#dmacnum").removeAttr("disabled").css("background","#fff");
              $("#dmacloop").removeAttr("disabled").css("background","#fff");
            }
          });
          form.on("select(smacaction)",function(data){
            if (data.value=="Fixed") {
              $("#smacnum").attr("disabled","false").css("background","#edeff3");
              $("#smacloop").attr("disabled","false").css("background","#edeff3");
              $("#smacnum").val("0");
              $("#smacloop").val("0");
              form.render();
            }else{
              $("#smacnum").removeAttr("disabled").css("background","#fff");
              $("#smacloop").removeAttr("disabled").css("background","#fff");
            }
          });
          var havevlan = '{{arp.havevlan}}';
          if (havevlan=="no") {
            var arr = ["svlantype","svlan","svlanpri","svlancfi","svlanaction","svlannum","svlanloop","dvlantype","dvlan","dvlanpri","dvlancfi","dvlanaction","dvlannum","dvlanloop","morevlans"];
            for (var i = arr.length - 1; i >= 0; i--) {
              $("#"+arr[i]).attr("disabled","false").css("background","#edeff3");
            }
          }else if (havevlan=="svlan") {
            var arr = ["dvlantype","dvlan","dvlanpri","dvlancfi","dvlanaction","dvlannum","dvlanloop","morevlans"];
            for (var i = arr.length - 1; i >= 0; i--) {
              $("#"+arr[i]).attr("disabled","false").css("background","#edeff3");
            }
            var arr = ["svlantype","svlan","svlanpri","svlancfi","svlanaction","svlannum","svlanloop"];
            for (var i = arr.length - 1; i >= 0; i--) {
              $("#"+arr[i]).removeAttr("disabled").css("background","#fff");
            }
          }else{
            var arr = ["svlantype","svlan","svlanpri","svlancfi","svlanaction","svlannum","svlanloop","dvlantype","dvlan","dvlanpri","dvlancfi","dvlanaction","dvlannum","dvlanloop","morevlans"];
            for (var i = arr.length - 1; i >= 0; i--) {
              $("#"+arr[i]).removeAttr("disabled").css("background","#fff");
            }
          }
          form.render();
          form.render("select");
          form.on("radio(havevlan)",function(data){
            if (data.value=="no") {
              var arr = ["svlantype","svlan","svlanpri","svlancfi","svlanaction","svlannum","svlanloop","dvlantype","dvlan","dvlanpri","dvlancfi","dvlanaction","dvlannum","dvlanloop","morevlans"];
              for (var i = arr.length - 1; i >= 0; i--) {
                $("#"+arr[i]).attr("disabled","false").css("background","#edeff3");
              }
            }else if (data.value=="svlan") {
              var arr = ["dvlantype","dvlan","dvlanpri","dvlancfi","dvlanaction","dvlannum","dvlanloop","morevlans"];
              for (var i = arr.length - 1; i >= 0; i--) {
                $("#"+arr[i]).attr("disabled","false").css("background","#edeff3");
              }
              var arr = ["svlantype","svlan","svlanpri","svlancfi","svlanaction","svlannum","svlanloop"];
              for (var i = arr.length - 1; i >= 0; i--) {
                $("#"+arr[i]).removeAttr("disabled").css("background","#fff");
              }
            }else{
              var arr = ["svlantype","svlan","svlanpri","svlancfi","svlanaction","svlannum","svlanloop","dvlantype","dvlan","dvlanpri","dvlancfi","dvlanaction","dvlannum","dvlanloop","morevlans"];
              for (var i = arr.length - 1; i >= 0; i--) {
                $("#"+arr[i]).removeAttr("disabled").css("background","#fff");
              }
            }
            form.render();
            form.render("select");
          });

          form.on("select(svlanaction)",function(data){
            if (data.value=="Fixed") {
              $("#svlannum").attr("disabled","false").css("background","#edeff3");
              $("#svlanloop").attr("disabled","false").css("background","#edeff3");
              $("#svlannum").val("0");
              $("#svlanloop").val("0");
              form.render();
            }else{
              $("#svlannum").removeAttr("disabled").css("background","#fff");
              $("#svlanloop").removeAttr("disabled").css("background","#fff");
            }
          });
          form.on("select(dvlanaction)",function(data){
            if (data.value=="Fixed") {
              $("#dvlannum").attr("disabled","false").css("background","#edeff3");
              $("#dvlanloop").attr("disabled","false").css("background","#edeff3");
              $("#dvlannum").val("0");
              $("#dvlanloop").val("0");
              form.render();
            }else{
              $("#dvlannum").removeAttr("disabled").css("background","#fff");
              $("#dvlanloop").removeAttr("disabled").css("background","#fff");
            }
          });
          var svlanaction = '{{arp.svlanaction}}';
          if (svlanaction=="Fixed"){
              $("#svlannum").attr("disabled","false").css("background","#edeff3");
              $("#svlanloop").attr("disabled","false").css("background","#edeff3");
              $("#svlannum").val("0");
              $("#svlanloop").val("0");
              form.render();
          }
          var dvlanaction = '{{arp.dvlanaction}}';
          if (dvlanaction=="Fixed"){
              $("#dvlannum").attr("disabled","false").css("background","#edeff3");
              $("#dvlanloop").attr("disabled","false").css("background","#edeff3");
              $("#dvlannum").val("0");
              $("#dvlanloop").val("0");
              form.render();
          }
        });

          
        function validateData(){
            return true;
        }
        function save(){ 
            if (validateData()) {
                $.ajax({
                    type:"post",
                    url:"/app/insertArp",
                    data: $('form').serialize(),//表单数据
                    dataType:"json",//json,xml,html,text
                    success:function(d){
                        if(d=="success"){
                            layer.msg('保存成功！');//保存成功提示
                            // closeWin();
                            // $(parent.document).find("#iframeParent").attr("src","/app/messageList?name={{message}}");
                        }
                        if(d=="error"){
                            layer.msg('已经存在相同的报文名称!');
                        }
                        
                    }
                });
            } 
        }
        function smacactiononchange(){
          alert();
        }
        parent.a=2;
        function step2() {
            parent.layer.open({
              type: 2,
              title: '配置报文-第二步',
              shadeClose: false,//如果你的shade是存在的，那么你可以设定shadeClose来控制点击弹层外区域关闭。
              shade: 0.8,
              btnAlign: 'c',
              closeBtn:2,
              area: ['600px', '500px'],
              offset: ['200px'],
              content: '/app/step2' //iframe的url
            }); 
        }
        function last(){
          parent.layer.open({
              type: 2,
              title: '配置报文-ethernetii',
              shadeClose: false,//如果你的shade是存在的，那么你可以设定shadeClose来控制点击弹层外区域关闭。
              shade: 0.8,
              btnAlign: 'c',
              closeBtn:2,
              move: false,
              area: ['580px', '800px'],
              offset: ['50px'],
              content: "/app/eth?packet={{packet}}&packetGroupName={{packetGroupName}}" //iframe的url
            }); 
          closeWin();
        }
        function closeWin(){
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭 
        }
        </script>
    </body> 
</html>
