<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/layui.css">
        <script type="text/javascript" src="/static/js/layer.js"></script>
    </head>
    <body style="width: 100%;padding-top: 20px;">
        <form class="layui-form" action="" id="createMessageForm">
          <div class="layui-form-item">
          {% csrf_token %}
            <label class="layui-form-label">报文组名称</label>
            <div class="layui-input-block">
              <input type="text" name="name" id="name" required   placeholder="请输入报文组名称" autocomplete="off" class="layui-input" style="width: 200px;">
            </div>
          </div>
        </form>
        <div style="position: absolute;bottom: 20px;right: 20px;">
            <button class="layui-btn layui-btn-warm" onclick="save();">确定</button>
            <button class="layui-btn" onclick="closeWin();">关闭</button>
        </div>
        <script>
        function validateData(){
            if ($("#name").val()=="") {
                layer.alert("报文名称不能为空！");
                return false;
            }
            return true;
        }
        function save(){ 
            if (validateData()) {
                $.ajax({
                    type:"post",
                    url:"/app/insertMessageGroup",
                    data: $('form').serialize(),//表单数据
                    dataType:"json",//json,xml,html,text
                    success:function(d){
                        if(d=="success"){
                            layer.msg('保存成功！');//保存成功提示
                            parent.location.reload(); // 父页面刷新
                            closeWin();
                        }
                        if(d=="error"){
                            layer.msg('已经存在相同的报文名称!');
                        }
                        
                    }
                });
            } 
            
        }
        function closeWin(){
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭 
        }
        </script>
    </body> 
</html>
